<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ldb.groupware.mapper.mybatis.calendar.CalendarMapper">
    <!--일정조회 -->
    <select id="selectScheduleList" resultType="ScheduleListDto">
        SELECT schedule_id,
        schedule_title,
        schedule_content,
        start_at,
        end_at
        FROM company_schedule
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        AND schedule_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'startAt'">
                        AND DATE_FORMAT(start_at, '%Y-%m-%d') = #{keyword}
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY start_at DESC
        LIMIT #{startNum}, #{itemsPerPage}
    </select>


    <!--페이지처리-->
    <select id="countScheduleList" resultType="int">
        SELECT COUNT(*)
        FROM company_schedule
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        AND schedule_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'startAt'">
                        AND DATE_FORMAT(start_at, '%Y-%m-%d') = #{keyword}
                    </when>
                </choose>
            </if>
        </where>
    </select>


    <!-- 일정등록-->
    <insert id="insertCalendar" parameterType="map">
        INSERT INTO company_schedule (schedule_title,
                                      schedule_content,
                                      start_at,
                                      end_at,
                                      created_by,
                                      created_at)
        VALUES (#{scheduleTitle},
                #{scheduleContent},
                #{startAt},
                #{endAt},
                #{createdBy},
                NOW())
    </insert>

    <!--일정삭제-->
    <delete id="deleteCalendar" parameterType="int">
        DELETE
        FROM company_schedule
        WHERE schedule_id = #{scheduleId}
    </delete>

    <!--일정 수정정보-->
    <select id="selectCalendar" parameterType="int" resultType="ScheduleEditFormDto" >
        SELECT schedule_id,
               schedule_title,
               schedule_content,
               start_at,
               end_at
        FROM company_schedule
        WHERE schedule_id = #{scheduleId}
    </select>

    <!--일정 수정-->
    <update id="updateCalendar" parameterType="ScheduleEditFormDto">
        UPDATE company_schedule
        SET
            schedule_title = #{scheduleTitle},
            schedule_content = #{scheduleContent},
            start_at = #{startAt},
            end_at = #{endAt},
            updated_by = #{updatedBy},
            updated_at = #{updatedAt}
        WHERE schedule_id = #{scheduleId}
    </update>

    <select id="selectAllScheduleList" parameterType="EventDto">
        SELECT schedule_id AS id,
               schedule_title AS title,
               schedule_content AS content,
               start_at AS start,
               end_at AS end
        FROM company_schedule
    </select>
</mapper>