<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ldb.groupware.mapper.mybatis.annual.AnnualLeaveMapper">

    <insert id="insertAnnualLeave">
        INSERT INTO annual_leave (mem_id,
                                  year,
                                  total_days,
                                  use_days,
                                  remain_days,
                                  created_at,
                                  created_by)
        VALUES (#{memId},
                #{year},
                #{totalDays},
                #{useDays},
                #{remainDays},
                #{createdAt},
                #{createdBy})
    </insert>

    <update id="updateAnnualLeave">
        UPDATE annual_leave
        SET total_days = #{totalDays},
            remain_days = #{remainDays},
            updated_at = #{updatedAt},
            updated_by = #{updatedBy}
        WHERE mem_id = #{memId}
          AND year = #{year}
    </update>

    <select id="selectAnnualLeave" resultType="AnnualLeave">
        SELECT
            an_id,
            mem_id,
            year,
            total_days,
            use_days,
            remain_days,
            created_at,
            created_by,
            updated_at,
            updated_by
        FROM
            annual_leave
        WHERE
            mem_id = #{memId}
          AND year = #{hireYear}
    </select>

    <update id="updateAnnualLeaveByDashboard">
        update annual_leave
        set
               total_days = #{dto.totalDays},
               use_days = #{dto.useDays},
               remain_days = #{dto.remainDays},
               updated_at = now(),
               updated_by = #{loginId}
       where year = #{dto.year}
       and   mem_id = #{dto.memId}
    </update>

</mapper>
