<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ldb.groupware.mapper.mybatis.admin.AdminMapper">

    <select id="selectMunuList" resultType="MenuDto">
        SELECT menu_code, menu_name, description,use_yn
        FROM menu_info
        WHERE use_yn = 'Y'
    </select>

    <select id="selectMenuAuthority" resultType="String">
        SELECT menu_code
        FROM menu_authority
        WHERE dept_id = #{deptId}
    </select>

    <delete id="deleteAuth" >
        DELETE FROM menu_authority
        WHERE dept_id = #{deptId}
    </delete>

    <insert id="insertAuth">
        INSERT INTO menu_authority (dept_id,menu_code,created_date,created_by)
        values (#{deptId},#{menu},now(),'admin')
    </insert>
</mapper>