<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ldb.groupware.mapper.mybatis.admin.AdminMapper">

    <!--전체 메뉴 조회-->
    <select id="selectMunuList" resultType="MenuDto">
        SELECT menu_code, menu_name, description, use_yn
        FROM menu_info
        WHERE use_yn = 'Y'
    </select>

    <!--부서별 메뉴 조회-->
    <select id="selectMenuAuthority" resultType="String">
        SELECT menu_code
        FROM menu_authority
        WHERE dept_id = #{deptId}
    </select>

    <!--부서별 메뉴 권한 삭제-->
    <delete id="deleteAuth">
        DELETE
        FROM menu_authority
        WHERE dept_id = #{deptId}
    </delete>

    <!--부서별 메뉴 권한 등록-->
    <insert id="insertAuth">
        INSERT INTO menu_authority (dept_id, menu_code, created_date, created_by)
        values (#{deptId}, #{menu}, now(), 'admin')
    </insert>

    <!--메뉴 ID 뒷 숫자 조회 -->
    <select id="nextMenuCode" resultType="String">
        SELECT LPAD(COALESCE(MAX(SUBSTRING(menu_code, 3)), 0) + 1, 4, '0')
        FROM menu_info
    </select>

    <!--메뉴 등록-->
    <insert id="insertMenu" parameterType="MenuFormDto">
        INSERT INTO menu_info (menu_code, menu_name, description, use_yn, created_date, created_by)
        VALUES (#{menuCode}, #{menuName}, #{description}, #{useYn}, now(), 'admin')
    </insert>

    <!-- 연차대시보드   -->
    <select id="getAnnualLeaveUsage" resultType="DashboardInfoDto">
        <![CDATA[
            SELECT
            m.dept_id AS deptId,
            d.dept_name AS deptName,
            m.mem_name AS memName,
            r.rank_name AS rankName,
            al.year as realYear,
            al.total_days AS totalDays,
            al.use_days AS useDays,
            al.remain_days AS remainDays
            FROM member m
            JOIN dept d ON m.dept_id = d.dept_id
            JOIN rank r ON m.rank_id = r.rank_id
            JOIN annual_leave al
            ON al.mem_id = m.mem_id
            AND al.year = (SELECT MAX(al2.year)
                             FROM annual_leave al2
                            WHERE al2.mem_id = m.mem_id
                              AND al2.year <= #{year}
                          )
         ]]>
        <where>
            <if test="deptId != null and deptId != ''">
                m.dept_id = #{deptId}
            </if>
        </where>
        ORDER BY d.dept_name
        <if test="startNum != null and itemsPerPage != null">
            LIMIT #{startNum}, #{itemsPerPage}
        </if>
    </select>

    <!-- 연차대시보드 row카운트 -->
    <select id="countAnnualLeaveUsage" resultType="int">
        <![CDATA[
            SELECT COUNT(*)
            FROM member m
            JOIN dept d ON m.dept_id = d.dept_id
            JOIN rank r ON m.rank_id = r.rank_id
            JOIN annual_leave al
            ON al.mem_id = m.mem_id
            AND al.year = (SELECT MAX(al2.year)
                            FROM annual_leave al2
                            WHERE al2.mem_id = m.mem_id
                            AND al2.year<= #{year}
                            )
        ]]>
        <where>
            <if test="deptId != null and deptId != ''">
                m.dept_id = #{deptId}
            </if>
        </where>
        ORDER BY d.dept_name
    </select>

</mapper>