<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ldb.groupware.mapper.mybatis.common.CommonMapper">

    <select id="selectCommonTypesByGroup" parameterType="string" resultType="CommonTypeDto">
        SELECT comm_code AS commCode, comm_name AS commName
        FROM common_type
        WHERE code_group = #{codeGroup}
          AND use_yn = 'Y'
        ORDER BY order_no
    </select>

    <select id="getDeptList" resultType="DeptDto">
        select dept_id, dept_name
        from dept
        where use_yn = 'Y'
    </select>

    <select id="selectAllCodes" resultType="CommonCodeDto">
        SELECT
            code_group AS codeGroup,
            comm_code AS codeId,
            comm_name AS codeName,
            use_yn AS useYn
        FROM common_type
        ORDER BY code_group, order_no
    </select>

    <update id="updateCodeUsage">
        UPDATE common_type
        SET use_yn = #{useYn}
        WHERE code_group = #{codeGroup}
          AND comm_code = #{codeId}
    </update>

</mapper>