<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ldb.groupware.mapper.mybatis.board.FaqMapper">

    <select id="faqCount" resultType="int">
        select count(*) from faq
    </select>

    <select id="findFaqList" resultType="FaqListDto" parameterType="PaginationDto">
        select f.faq_id , d.dept_name , f.faq_title , f.faq_content , f.dept_id
        from faq f left join dept d on f.dept_id = d.dept_id
        LIMIT #{startNum},#{itemsPerPage}
    </select>

    <insert id="insertFaq" parameterType="FaqFormDto" >
        INSERT INTO faq (faq_title, faq_content, dept_id, created_at, updated_at)
        VALUES (#{faqTitle}, #{faqContent}, #{deptId}, NOW(), null)
    </insert>

    <select id="findById" parameterType="int" resultType="FaqFormDto">
        select * from faq where faq_id=#{val}
    </select>

    <select id="deptAll" resultType="DeptDto">
        select * from dept
    </select>

    <update id="updateFaq" parameterType="FaqFormDto">
        update faq set faq_title=#{faqTitle},faq_id=#{faqId},faq_content=#{faqContent},dept_id=#{deptId},updated_at=now()
        where faq_id = #{faqId}
    </update>

    <delete id="deleteFaq" parameterType="int">
        delete from faq where faq_id = #{val}
    </delete>

    <select id="findDept" resultType="DeptDto">
        select dept_name , dept_id from dept
    </select>

</mapper>