<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ldb.groupware.mapper.mybatis.board.FaqMapper">

    <select id="faqCount" parameterType="PaginationDto" resultType="int">
        SELECT COUNT(*)
        FROM faq f
        JOIN dept d ON f.dept_id = d.dept_id
        <where>
            <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType eq 'faqTitle'">
                        AND f.faq_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType eq 'deptName'">
                        AND d.dept_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType eq 'all'">
                        AND (d.dept_name LIKE CONCAT('%', #{keyword}, '%')
                        OR f.faq_title LIKE CONCAT('%', #{keyword}, '%'))
                    </when>
                </choose>
            </if>
        </where>
    </select>


    <select id="findFaqList" resultType="FaqListDto" parameterType="PaginationDto">
        select f.faq_id , d.dept_name , f.faq_title , f.faq_content , f.dept_id
        from faq f  join dept d on f.dept_id = d.dept_id
        <where>
            <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType eq 'faqTitle'">
                        AND  f.faq_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType eq 'deptName'">
                        AND d.dept_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType eq 'all'">
                        AND (d.dept_name  LIKE CONCAT('%', #{keyword}, '%')
                        OR  f.faq_title LIKE CONCAT('%', #{keyword}, '%'))
                    </when>
                </choose>
            </if>
        </where>
        order by f.updated_at desc
        LIMIT #{startNum},#{itemsPerPage}
    </select>

    <insert id="insertFaq" parameterType="FaqFormDto" >
        INSERT INTO faq (faq_title, faq_content, dept_id, created_at, updated_at)
        VALUES (#{faqTitle}, #{faqContent}, #{deptId}, NOW(), null)
    </insert>

    <select id="findById" parameterType="int" resultType="FaqFormDto">
        select f.faq_id , f.faq_title,f.faq_content,f.dept_id,d.dept_name
        from faq f join dept d on(f.dept_id = d.dept_id)
        where faq_id=#{val}
    </select>

    <select id="deptAll" resultType="DeptDto">
        select * from dept
    </select>

    <update id="updateFaq" parameterType="FaqFormDto">
        update faq set faq_title=#{faqTitle},faq_id=#{faqId},faq_content=#{faqContent},dept_id=#{deptId},updated_at=now()
        where faq_id = #{faqId}
    </update>

    <delete id="deleteFaq" parameterType="int">
        delete from faq where faq_id = #{val}
    </delete>

    <select id="findDept" resultType="DeptDto">
        select dept_name , dept_id from dept
    </select>

    <select id="findList" parameterType="int" resultType="FaqListDto">
        select * from faq limit 5,#{val}
    </select>
</mapper>