<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ldb.groupware.mapper.mybatis.board.NoticeMapper">

    <select id="noticeCount" parameterType="PaginationDto" resultType="int">
        select count(*) from notice n left join member m on n.mem_id = m.mem_id
        <where>
            <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType eq 'noticeTitle'">
                        AND n.notice_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType eq 'memId'">
                        AND m.mem_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
            AND n.is_pinned='N'
        </where>
    </select>

    <select id="pinnedCount" parameterType="PaginationDto" resultType="int">
        select count(*) from notice n left join member m on n.mem_id = m.mem_id
        <where>
            <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType eq 'noticeTitle'">
                        AND n.notice_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType eq 'memId'">
                        AND m.mem_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
            AND n.is_pinned='Y'
        </where>
    </select>

    <select id="getPinnedList" parameterType="PaginationDto" resultType="NoticeListDto">
    select
        m.mem_name ,
        n.notice_id ,
        n.notice_title,
        n.mem_id,
        n.notice_cnt,
        n.is_pinned,
        n.updated_at
        from notice n  left join member m on n.mem_id = m.mem_id
        <where>
            <!-- 검색 조건이 있을 경우, 검색 유형에 따라 동적으로 WHERE 절 생성 -->
            <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType eq 'noticeTitle'">
                        AND  n.notice_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType eq 'memId'">
                        AND m.mem_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
             and n.is_pinned='Y'
        </where>
        order by   n.updated_at desc
    </select>


    <select id="getNoticeList" parameterType="PaginationDto" resultType="NoticeListDto">
        select
        m.mem_name ,
        n.notice_id ,
        n.notice_title,
        n.mem_id,
        n.notice_cnt,
        n.is_pinned,
        n.updated_at
        from notice n  left join member m on n.mem_id = m.mem_id
        <where>
        <!-- 검색 조건이 있을 경우, 검색 유형에 따라 동적으로 WHERE 절 생성 -->
            <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType eq 'noticeTitle'">
                         AND  n.notice_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType eq 'memId'">
                        AND m.mem_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
            and n.is_pinned='N'
    </where>
        order by n.updated_at desc
        LIMIT #{startNum},#{itemsPerPage}
    </select>



    <insert id="insertNotice" parameterType="NoticeFormDto">
        insert into notice
            (notice_title, notice_content,mem_id, notice_cnt, is_pinned, created_at, updated_at)
        values
            (#{noticeTitle},#{noticeContent}, #{memId}, #{noticeCnt}, #{isPinned}, now(), now())
    </insert>

    <select id="getMember" parameterType="String" resultType="String">
        select mem_name from member where mem_id = #{val}
    </select>

    <select id="getMaxNum" resultType="int" parameterType="String">
        select max(notice_id) from notice where mem_id = #{val}
    </select>

    <insert id="insertAttach" parameterType="AttachmentDto">
insert into attachment
    (business_id,attach_type,original_name ,saved_name , file_path , created_at )
values(#{businessId},#{attachType},#{originalName},#{savedName},#{filePath},now())
    </insert>


    <!--공지사항의 detail(상세보기)를 위함-->
    <select id="getNoticeById" parameterType="String" resultType="NoticeDetailDto">
            select
                m.mem_name ,
                n.notice_id ,
                n.notice_title,
                n.notice_content,
                n.is_pinned,
                n.mem_id
            from notice n  join member m ON n.mem_id = m.mem_id
            where n.notice_id = #{val}
    </select>

    <select id="getAttachByNoticeId" parameterType="String" resultType="AttachmentDto">
        select * from attachment where business_id = #{val}
    </select>

    <delete id="deleteFile" parameterType="String">
        delete from attachment where saved_name=#{val}
    </delete>

    <update id="plusCnt">
        update notice set notice_cnt= notice_cnt+1 where notice_id=#{val}
    </update>

    <update id="updateNotice" parameterType="NoticeUpdateDto">
        update notice set notice_title = #{noticeTitle},notice_content=#{noticeContent},is_pinned=#{isPinned}
        where notice_id = #{noticeId}
    </update>

    <delete id="deleteNotice" parameterType="int">
        delete from notice where notice_id=#{val}
    </delete>

    <select id="selectNoticeList" resultType="NoticeListDto">
        SELECT m.mem_name,
               n.notice_id,
               n.notice_title,
               n.updated_at,
               n.mem_id
        FROM notice n
             JOIN member m ON n.mem_id = m.mem_id
        ORDER BY updated_at desc LIMIT 5
    </select>
</mapper>