<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ldb.groupware.mapper.mybatis.draft.DraftMapper">

    <select id="getMyDraftList" resultType="DraftListDto">
        SELECT
        d.doc_id AS docId,
        d.doc_title AS docTitle,
        DATE_FORMAT(d.doc_endDate, '%Y-%m-%d') AS docEndDate,
        d.mem_id AS writer,
        (SELECT mem_id FROM approval_line WHERE doc_id = d.doc_id AND step_order = 1) AS approver1,
        (SELECT mem_id FROM approval_line WHERE doc_id = d.doc_id AND step_order = 2) AS approver2,
        d.status AS status
        FROM
        approval_document d
        WHERE
        d.mem_id = #{memId}
        AND d.del_yn = 'N'
        <if test="type != null and keyword != null and keyword != ''">
            <choose>
                <when test="type == 'title'">
                    AND d.doc_title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'writer'">
                    AND d.mem_id LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </if>
        ORDER BY d.doc_id DESC
    </select>

</mapper>