<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ldb.groupware.mapper.mybatis.draft.DraftMapper">

    <select id="getMyDraftList" resultType="DraftListDto">
        SELECT
        d.doc_id AS docId,
        d.form_code as formCode,
        d.doc_title AS docTitle,
        DATE_FORMAT(d.doc_endDate, '%Y-%m-%d') AS docEndDate,
        d.mem_id AS writer,
        (SELECT mem_id FROM approval_line WHERE doc_id = d.doc_id AND step_order = 1) AS approver1,
        (SELECT mem_id FROM approval_line WHERE doc_id = d.doc_id AND step_order = 2) AS approver2,
        d.status AS status
        FROM
        approval_document d
        WHERE
        d.mem_id = #{memId}
        AND d.del_yn = 'N'
        <if test="type != null and keyword != null and keyword != ''">
            <choose>
                <when test="type == 'title'">
                    AND d.doc_title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'writer'">
                    AND d.mem_id LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </if>
        ORDER BY d.doc_id DESC
    </select>

    <select id="getMemberList" resultType="DraftForMemberDto">
        SELECT m.mem_id as mem_id,
               m.mem_name as mem_name,
               d.dept_name as dept_name,
               r.rank_name as rank_name,
               m.mem_email as mem_email
        FROM member m
        LEFT JOIN dept d ON m.dept_id = d.dept_id
        LEFT JOIN rank r ON m.rank_id = r.rank_id
    </select>

    <select id="getRemainAnnual">
        SELECT remain_days
        FROM annual_leave
        WHERE mem_id = #{memId}
        and year = year(CURDATE())
    </select>

    <insert id="insertApprovalDocument" useGeneratedKeys="true" keyProperty="dto.docId">
        INSERT INTO approval_document
        (form_code, doc_title, doc_content, mem_id, created_at, status, updated_at, del_yn, doc_endDate)
        VALUES
            (#{dto.formCode}, #{dto.title},#{dto.content}, #{memId}, NOW(), #{status}, NOW(), 'N', #{dto.docEndDate})
    </insert>

    <insert id="insertFormAnnualLeave" parameterType="FormAnnualLeave">
        INSERT INTO `form_annual_leave` (
            `doc_id`,
            `form_code`,
            `leave_code`,
            `start_date`,
            `end_date`,
            `total_days`,
            `annual_content`
        ) VALUES (
                     #{docId},
                     #{formCode},
                     #{leaveCode},
                     #{startDate},
                     #{endDate},
                     #{totalDays},
                     #{annualContent}
                 )
    </insert>

    <insert id="insertApprovalLine">
        INSERT INTO approval_line (doc_id, mem_id, step_order, status, approved_at, approved_comment, ref_yn)
        VALUES (#{docId}, #{memId}, #{stepOrder}, 1, NOW(), NULL, #{refYn})
    </insert>

    <select id="getApprovalDocumentByDocId" resultType="DraftFormDto">
        SELECT a.doc_id as docId,
               a.form_code as formCode,
               a.doc_title as title,
               a.doc_content as content,
               (SELECT mem_id FROM approval_line WHERE doc_id = #{docId} AND step_order = 1) AS approver1,
               (SELECT mem_id FROM approval_line WHERE doc_id = #{docId} AND step_order = 2) AS approver2
        FROM approval_document a
        WHERE a.doc_id = #{docId}
        AND   a.del_yn = 'N'
    </select>

    <select id="getFormAnnualLeave" resultType="FormAnnualLeave">
        SELECT * FROM form_annual_leave WHERE doc_id = #{docId}
    </select>

    <select id="getFormProject" resultType="FormProject">
        SELECT * FROM form_project WHERE doc_id = #{docId}
    </select>

    <select id="getFormExpense" resultType="FormExpense">
        SELECT * FROM form_expense WHERE doc_id = #{docId}
    </select>

    <select id="getFormResign" resultType="FormResign">
        SELECT * FROM form_resign WHERE doc_id = #{docId}
    </select>

</mapper>